html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

footer {
  padding: 1px;
}

.table > tbody > tr > * {
  vertical-align: middle;
}

.custom-shape {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.btn-custom {
  width: 200px;
}

.hidden {
  display: none;
}

.hidden-input {
  display: none;
}

.c-item {
  height: 550px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.container-custom {
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 3rem;
  height: 75vh;
  background-color: rgb(0, 42, 82);
  flex-wrap: wrap;
}

.card-container-custom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 7%;
}

.card-custom {
  background-color: skyblue;
  flex: 1 1 calc(20% - 20px);
  max-width: 500px;
  max-height: 300px;
  text-align: center;
  border-radius: 20px;
  margin: 10px 0;
}

.card-img-custom {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: -50px auto 10px;
  background-color: white;
  padding: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body-custom {
  padding: 15px 0;
}

.card-title-custom {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .card-custom {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .card-custom {
    flex: 1 1 100%;
  }
}
